@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
*{
	padding: 0px;
	margin: 0px;


}

.header
{
	  background: linear-gradient(121deg, #FF0000 0%, #ff0000 100%), linear-gradient(140deg, #ff5454 27%, #223DCB 100%), linear-gradient(140deg, #4E9C51 0%, #001AFF 72%), linear-gradient(64deg, #6e00ff 0%, #0038FF 100%), radial-gradient(52% 101.79% at 50% 50%, #707300 0%, #ff0000 100%), radial-gradient(100% 100% at 70% 0%, #7A3B00 0%, #1DAC92 100%);
background-blend-mode: overlay, overlay, difference, difference, color-burn, exclusion;;
	height: 100px;
	width: 1530px;
 

}
.logo img{
float: left;
  width: 150px;
  height: 100px;
}


ul{
  float: right;
  margin-top: 25px;
}
ul li
{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: white;
  padding: 1px 10px;
  border: 1px solid;
  border-radius: 20px;
  border-color: transparent;
  transition: 0.6s;
     font-family:'Cinzel', serif;
}

ul li a:hover {
  background-color: red;
  color: white;
  }
  body{
    background-color: whitesmoke;
    font-family: 'Uchen', serif;
   }
  .table
  {
    
    width: 500px;
    position: absolute;
    left: 10%;
    font-size:20px ;
    height: 10%;
  }
  .footer
{
  left: 16%;
  bottom: 50%;
  width: 1520px;
  position: absolute;
  height: 10%;
     font-family:'Cinzel', serif;

}
.footer   a:hover
{

  opacity: 0.5;
}